<body>
  <div class="hero">
    <header>
      <div class="nav">
        <div class="logo">
          <a href="/">Task App</a>
        </div>
        <div class="buttons">
          <a href="<%= btnOneLink %>"><button type="button" class="login-btn"><%= btnOne %></button></a>
          <a href="<%= btnTwoLink %>"><button type="button" class="signup-btn"><%= btnTwo %></button></a>
        </div>
      </div>
    </header>
