<body>
  <div class="hero">
    <header>
      <div class="nav">
        <div class="logo">
          <a href="/">Task App</a>
        </div>
        <div class="buttons">
          <a href="/users/login"><button type="button" class="login-btn">Sign In</button></a>
          <a href="/users/register"><button type="button" class="signup-btn">Sign Up</button></a>
        </div>
      </div>
    </header>
