<body>
  <div class="hero">
    <header>
      <div class="nav">
        <div class="logo">
          <a href="/">Task App</a>
        </div>
        <div class="buttons">
          <button type="button" class="login-btn"><a href="/login">Sign In</a></button>
          <button type="button" class="signup-btn">Sign Up</button>
        </div>
      </div>
    </header>
